/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-signin {
  background: url("assets/image/signIn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
width: 100%;
height: 100vh;
overflow: hidden;
position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;


}

.form {
width: 300px;


}

.form-position {
  display: flex;
  justify-content: flex-end;
  margin-top: 22%;
  margin-right: 10%;
}
